@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
/* line 2, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/nullstyle.scss */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/* line 3, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/nullstyle.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/nullstyle.scss */
:focus, :active {
  outline: none;
}

/* line 5, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/nullstyle.scss */
a:focus, a:active {
  outline: none;
}

/* line 6, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/nullstyle.scss */
nav, footer, header, aside {
  display: block;
}

/* line 7, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/nullstyle.scss */
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 8, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/nullstyle.scss */
input, button, textarea {
  font-family: inherit;
}

/* line 9, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/nullstyle.scss */
input::-ms-clear {
  display: none;
}

/* line 10, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/nullstyle.scss */
button {
  cursor: pointer;
}

/* line 11, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/nullstyle.scss */
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 12, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/nullstyle.scss */
a, a:visited {
  text-decoration: none;
}

/* line 13, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/nullstyle.scss */
a:hover {
  text-decoration: none;
}

/* line 14, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/nullstyle.scss */
ul li {
  list-style: none;
}

/* line 15, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/nullstyle.scss */
img {
  vertical-align: top;
}

/* line 16, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/nullstyle.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: 'Turkishye';
  src: url("/fonts/Turkishye.eot");
  src: url("/fonts/Turkishye.eot?#iefix") format("embedded-opentype"), url("/fonts/Turkishye.woff2") format("woff2"), url("/fonts/Turkishye.woff") format("woff"), url("/fonts/Turkishye.svg#Turkishye") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

/* line 6, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

/* line 12, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.ibg img {
  width: 0;
  height: 0;
  position: relative;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 320px) {
  /* line 24, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .ibg {
    display: none;
  }
}

@media (min-width: 321px) {
  /* line 30, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .ibg-320px {
    display: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
  }
}

/* line 40, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
:root {
  --body-color: #ffffff;
  --logo-color: #ffffff;
  --font-color: #ffffff;
  --main-color: #39AC03;
  --black-color: #151517;
}

/* line 48, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.btn {
  display: block;
  padding: 14px 41.5px 14px 41.5px;
  background-color: transparent;
  border: 3px solid var(--font-color);
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--font-color);
  transition: 0.3s;
}

/* line 59, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.btn:hover {
  border: 3px solid var(--main-color);
  transition: 0.3s;
}

/* line 65, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
p {
  font-size: 20px;
}

/* line 69, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
body {
  font-family: "Open Sans", Helvetica, sans-serif;
  background-color: var(--body-color);
  font-weight: 400;
}

/* line 75, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.hero-section {
  flex: 1 0 100%;
  position: relative;
}

/* line 79, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.hero-section__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* line 89, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  /* line 95, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  /* line 101, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  /* line 107, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .container {
    max-width: none;
    padding: 10px 40px 10px 40px;
  }
}

@media (max-width: 480px) {
  /* line 114, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .container {
    max-width: none;
    padding: 10px 40px 10px 40px;
  }
}

@media (max-width: 320px) {
  /* line 121, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .container {
    max-width: none;
    padding: 10px 40px 10px 40px;
  }
}

/* line 127, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.header__menu-link:last-child {
  margin: 0;
}

/* line 131, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.menu__body {
  display: none;
}

@media (max-width: 768px) {
  /* line 139, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .menu__body {
    display: block;
    animation: anix 600ms forwards;
  }
}

/* line 147, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.menu__list {
  display: flex;
}

/* line 150, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.menu__list li {
  position: relative;
  padding: 0px 37.5px;
}

/* line 154, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.menu__list li:nth-child(2) {
  padding: 0px 110px 0px 37.5px;
}

/* line 157, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.menu__list li:nth-child(2)::after {
  display: none;
}

/* line 162, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.menu__list li:nth-child(3) {
  padding: 0px 37.5px 0px 110px;
}

/* line 168, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.menu__list li:nth-child(2)::after, .menu__list li:last-child::after {
  display: none;
}

@media (max-width: 768px) {
  /* line 137, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .menu {
    top: 15px;
  }
  /* line 178, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .menu__body {
    animation: anix 600ms;
    position: fixed;
    height: 100%;
    width: 100%;
    top: -100%;
    left: 0;
    background-color: var(--black-color);
    padding: 150px 0 20px 0;
    transition: 0s;
    overflow: auto;
    opacity: 97%;
  }
  /* line 193, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .menu__body.active {
    display: block;
    padding: 248px 0 0 0;
    top: 0;
    transition: 0s;
    animation: ani 600ms forwards;
  }
  @keyframes ani {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

/* line 213, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.menu__list {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 218, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.menu__list li {
  padding: 0 0 60px 0;
}

/* line 221, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.menu__list li:nth-child(2), .menu__list li:nth-child(3) {
  padding: 0 0 60px 0;
}

/* line 225, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.menu__list li:nth-child(2):last-child, .menu__list li:nth-child(3):last-child {
  padding: 0;
}

/* line 231, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.menu__list__link {
  color: var(--font-color);
  font-size: 20px;
  line-height: 150%;
  font-weight: 800;
}

@media (max-width: 768px) {
  /* line 241, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .icon-menu {
    display: block;
    position: absolute;
    top: 40px;
    width: 35px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  /* line 251, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .icon-menu span {
    top: 8px;
    left: -10px;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: var(--font-color);
    transition: all 0.3s ease 0s;
  }
  /* line 261, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .icon-menu :first-child {
    top: 0;
  }
  /* line 265, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .icon-menu :last-child {
    top: auto;
    bottom: 0;
  }
  /* line 271, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .icon-menu.active span {
    background-color: #fff;
    transform: scale(0);
  }
  /* line 275, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .icon-menu.active span:first-child {
    transform: rotate(-45deg);
    top: 8px;
  }
  /* line 280, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .icon-menu.active span:last-child {
    transform: rotate(45deg);
    bottom: 8px;
  }
}

/* line 290, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.header__body {
  height: 100vh;
  position: relative;
}

@media (max-width: 420px) {
  /* line 296, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .header__body {
    height: 100%;
  }
}

/* line 301, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.header__menu {
  padding: 0 0 160px 0;
}

@media (max-width: 320px) {
  /* line 306, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .header__menu {
    padding: 0 0 63px 0;
  }
}

/* line 311, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.header__menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0 0 0;
}

@media (max-width: 768px) {
  /* line 319, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .header__menu-list {
    display: none;
  }
}

/* line 324, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.header__menu-list {
  padding: 0 60px 0 0;
}

/* line 327, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.header__menu-list:last-child {
  padding: 0;
}

/* line 332, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.header__menu-link {
  font-size: 20px;
  line-height: 150%;
  color: var(--font-color);
  transition: 0.4s;
}

/* line 338, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.header__menu-link:hover {
  color: var(--main-color);
  transition: 0.4s;
}

/* line 342, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.header__menu-link:hover:active {
  color: var(--main-color);
}

/* line 348, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.header__logo {
  font-family: "Turkishye", Helvetica, sans-serif;
  font-size: 36px;
  color: var(--logo-color);
}

/* line 353, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.header__logo:hover {
  color: var(--logo-color);
}

/* line 358, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.header__section-promo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 364, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.header__section-promo-pic {
  width: 31px;
  height: 25px;
  margin: 0 0 32px 0;
}

@media (max-width: 375px) {
  /* line 371, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .header__section-promo-pic {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 320px) {
  /* line 377, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .header__section-promo-pic {
    margin: 0 0 20px 0;
  }
}

/* line 382, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.header__section-promo-heading {
  font-family: "Raleway", Helvetica, sans-serif;
  max-width: 450px;
  font-size: 76px;
  line-height: 110%;
  text-align: center;
  color: var(--font-color);
  font-weight: bold;
  padding: 0 0 24px 0;
}

@media (max-width: 600px) {
  /* line 394, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .header__section-promo-heading {
    font-size: 62px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  /* line 401, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .header__section-promo-heading {
    font-size: 54px;
    text-align: center;
  }
}

@media (max-width: 375px) {
  /* line 408, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .header__section-promo-heading {
    font-size: 48px;
    text-align: center;
    line-height: 110%;
    width: 120%;
    padding: 0 0 20px 0;
  }
}

@media (max-width: 320px) {
  /* line 418, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .header__section-promo-heading {
    font-size: 48px;
    text-align: center;
    line-height: 110%;
    width: 120%;
    padding: 0 0 20px 0;
  }
}

/* line 427, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.header__section-promo-desc {
  font-size: 20px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--font-color);
  padding: 0 0 56px 0;
}

@media (max-width: 768px) {
  /* line 436, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .header__section-promo-desc {
    width: 70%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  /* line 443, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .header__section-promo-desc {
    width: 74%;
    font-size: 18px;
    text-align: center;
  }
}

@media (max-width: 375px) {
  /* line 451, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .header__section-promo-desc {
    width: 120%;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    padding: 0 0 32px 0;
  }
}

@media (max-width: 320px) {
  /* line 461, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .header__section-promo-desc {
    width: 120%;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    padding: 0 0 32px 0;
  }
}

/* line 470, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.header__section-promo-btn {
  margin: 0 0 218px 0;
}

@media (max-width: 420px) {
  /* line 475, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .header__section-promo-btn {
    margin: 0 0 70px 0;
  }
}

@media (max-width: 375px) {
  /* line 481, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .header__section-promo-btn {
    font-size: 16px;
    padding: 14px 54px 15px 54px;
  }
}

@media (max-width: 320px) {
  /* line 488, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .header__section-promo-btn {
    font-size: 16px;
    padding: 14px 54px 15px 54px;
    margin: 0px 0 65px 0;
  }
}

/* line 499, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.section-adventure___img {
  top: 0;
  background-size: cover;
}

/* line 505, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.section-adventure__bgc {
  position: absolute;
  left: 0;
  width: 100%;
  height: 856px;
  z-index: -1;
}

/* line 513, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.section-adventure__bgc-320 {
  display: none;
}

@media (max-width: 320px) {
  /* line 518, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-adventure__bgc-320 {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 549px;
    z-index: -1;
  }
}

@media (max-width: 320px) {
  /* line 529, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-adventure__bgc {
    display: none;
  }
}

/* line 535, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.section-adventure__body {
  padding: 156px 0 0 0;
  display: flex;
  height: 860px;
}

@media (max-width: 420px) {
  /* line 542, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-adventure__body {
    padding: 80px 0 0 0;
  }
}

@media (max-width: 320px) {
  /* line 548, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-adventure__body {
    padding: 120px 0 0 0;
    height: 675px;
  }
}

/* line 554, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.section-adventure__slog {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 110%;
  padding: 0 0 8px 0;
}

@media (max-width: 480px) {
  /* line 562, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-adventure__slog {
    font-size: 14px;
  }
}

/* line 567, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.section-adventure__title {
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 60px;
  line-height: 110%;
  font-weight: 600;
  padding: 0 0 40px 0;
}

@media (max-width: 992px) {
  /* line 576, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-adventure__title {
    font-size: 50px;
    max-width: 350px;
  }
}

@media (max-width: 768px) {
  /* line 583, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-adventure__title {
    font-size: 40px;
    max-width: 350px;
    padding: 18px 0 40px 0;
  }
}

@media (max-width: 600px) {
  /* line 591, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-adventure__title {
    padding: 0 0 40px 0;
  }
}

@media (max-width: 480px) {
  /* line 598, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-adventure__title {
    font-size: 30px;
    padding: 0px 0 15px 0;
  }
}

@media (max-width: 420px) {
  /* line 605, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-adventure__title {
    font-size: 30px;
    padding: 0px 0 25px 0;
  }
}

/* line 611, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.section-adventure__content {
  font-size: 20px;
  line-height: 150%;
  padding: 0 0 168px 0;
}

@media (max-width: 992px) {
  /* line 618, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-adventure__content {
    padding: 0 0 200px 0;
    max-width: 70%;
  }
}

@media (max-width: 600px) {
  /* line 625, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-adventure__content {
    font-size: 16px;
    padding: 10px 0 110px 10px;
  }
}

@media (max-width: 480px) {
  /* line 632, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-adventure__content {
    font-size: 13.5px;
  }
}

@media (max-width: 420px) {
  /* line 638, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-adventure__content {
    font-size: 14px;
    max-width: 100%;
  }
}

/* line 644, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.section-adventure__body-left {
  position: relative;
  margin: 0 71px 0 0;
}

@media (max-width: 992px) {
  /* line 650, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-adventure__body-left {
    margin: 0;
    left: 10%;
  }
}

@media (max-width: 320px) {
  /* line 657, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-adventure__body-left {
    left: 0%;
  }
}

@media (max-width: 320px) {
  /* line 663, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-adventure__container {
    padding: 0 5px 0 10px;
  }
  /* line 667, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-adventure__slog {
    font-size: 16px;
    padding: 0 0 4px 0;
  }
  /* line 672, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-adventure__title {
    font-size: 38px;
    line-height: 110%;
    padding: 0 0 35px 0;
  }
  /* line 678, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-adventure__content {
    padding: 0 0 133px 0;
    font-size: 16px;
    line-height: 150%;
    max-width: 96%;
  }
}

/* line 686, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.section-adventure__body-left-pic {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

/* line 693, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.section-adventure__body-left-pic-320 {
  display: none;
}

@media (max-width: 992px) {
  /* line 698, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-adventure__body-left-pic {
    left: -9%;
    top: -2%;
  }
}

@media (max-width: 600px) {
  /* line 705, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-adventure__body-left-pic {
    width: 100%;
  }
}

@media (max-width: 420px) {
  /* line 711, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-adventure__body-left-pic {
    width: 110%;
    left: -5%;
    top: -1%;
  }
}

@media (max-width: 320px) {
  /* line 719, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-adventure__body-left-pic {
    display: none;
  }
  /* line 723, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-adventure__body-left-pic-320 {
    display: block;
    position: absolute;
    height: 373px;
    top: -2%;
    left: -3%;
  }
}

/* line 732, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.section-adventure__body-right {
  justify-content: center;
}

/* line 736, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.section-adventure__pic {
  width: 555px;
}

@media (max-width: 1200px) {
  /* line 741, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-adventure__pic {
    max-width: 370px;
  }
}

@media (max-width: 1024px) {
  /* line 747, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-adventure__pic {
    max-width: 370px;
  }
}

@media (max-width: 992px) {
  /* line 753, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-adventure__pic {
    display: none;
  }
}

/* line 758, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.section-adventure__btn {
  border: 3px solid var(--black-color);
  color: var(--black-color);
  background: url(/img/btn_arrow.svg) no-repeat right 40.5px center;
  padding: 15px 82.5px 15px 40.5px;
}

@media (max-width: 320px) {
  /* line 766, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-adventure__btn {
    margin: 0 0 80px 0;
  }
}

@media (max-width: 992px) {
  /* line 772, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-adventure__pic {
    display: none;
  }
}

/* line 778, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.section-adventure__roadmap-right, .section-adventure__roadmap-left {
  display: flex;
  align-items: center;
}

/* line 784, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.section-adventure__roadmap-right-pic {
  padding: 0 8px 0 0;
  min-width: 21px;
}

/* line 789, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.section-adventure .section-adventure__roadmap-left-pic {
  padding: 0 0 0 8px;
  min-width: 21px;
}

/* line 794, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.section-adventure__roadmap-right-city {
  display: block;
  font-family: "Turkishye", Helvetica, sans-serif;
  font-size: 14px;
  padding: 5px 0 0 0;
}

/* line 802, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.section-istambul {
  min-width: 90px;
  position: absolute;
  top: -4%;
  left: 45%;
}

@media (max-width: 992px) {
  /* line 810, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-istambul {
    top: -8%;
    left: 29%;
  }
}

@media (max-width: 600px) {
  /* line 817, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-istambul {
    top: -7%;
    left: 39%;
  }
}

@media (max-width: 420px) {
  /* line 824, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-istambul {
    top: -6%;
    left: 47%;
  }
}

@media (max-width: 320px) {
  /* line 831, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-istambul {
    top: -6%;
    left: 50%;
  }
}

/* line 837, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.section-kaleiçi {
  min-width: 90px;
  position: absolute;
  top: 13%;
  left: 76%;
}

@media (max-width: 992px) {
  /* line 845, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-kaleiçi {
    top: 16%;
    left: 53%;
  }
}

@media (max-width: 768px) {
  /* line 852, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-kaleiçi {
    top: 16%;
    left: 60%;
  }
}

@media (max-width: 600px) {
  /* line 859, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-kaleiçi {
    top: 15%;
    left: 69%;
  }
}

@media (max-width: 480px) {
  /* line 866, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-kaleiçi {
    top: 10%;
    left: 64%;
  }
}

@media (max-width: 420px) {
  /* line 873, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-kaleiçi {
    top: 8%;
    left: 75%;
  }
}

@media (max-width: 320px) {
  /* line 880, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-kaleiçi {
    top: 12%;
    left: 72%;
  }
}

/* line 886, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.section-kekova {
  min-width: 90px;
  position: absolute;
  top: 22%;
  left: -20%;
}

@media (max-width: 992px) {
  /* line 894, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-kekova {
    top: 28%;
    left: -10%;
  }
}

@media (max-width: 600px) {
  /* line 901, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-kekova {
    top: 24%;
    left: -10%;
  }
}

@media (max-width: 480px) {
  /* line 908, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-kekova {
    top: 17%;
    left: -16%;
  }
}

@media (max-width: 420px) {
  /* line 915, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-kekova {
    top: 15%;
    left: -16%;
  }
}

@media (max-width: 320px) {
  /* line 922, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-kekova {
    top: 16%;
    left: -3%;
  }
}

/* line 929, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.section-termessos {
  min-width: 90px;
  position: absolute;
  bottom: 47%;
  left: 0%;
}

@media (max-width: 600px) {
  /* line 937, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-termessos {
    top: 63%;
    left: 10%;
  }
}

@media (max-width: 480px) {
  /* line 944, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-termessos {
    top: 28%;
    left: 10%;
  }
}

@media (max-width: 420px) {
  /* line 951, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-termessos {
    top: 12%;
    left: 10%;
  }
}

@media (max-width: 320px) {
  /* line 958, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-termessos {
    top: 54%;
    left: 0%;
  }
}

/* line 964, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.section-manavgat {
  min-width: 90px;
  position: absolute;
  bottom: 42%;
  left: 35%;
}

@media (max-width: 992px) {
  /* line 972, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-manavgat {
    bottom: 15%;
    left: 28%;
  }
}

@media (max-width: 600px) {
  /* line 979, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-manavgat {
    bottom: 23%;
    left: 40%;
  }
}

@media (max-width: 480px) {
  /* line 986, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-manavgat {
    bottom: 40%;
    left: 40%;
  }
}

@media (max-width: 420px) {
  /* line 993, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-manavgat {
    bottom: 51%;
    left: 46%;
  }
}

@media (max-width: 420px) {
  /* line 1000, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-manavgat {
    bottom: 38%;
    left: 40%;
  }
}

/* line 1007, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.section-side {
  min-width: 90px;
  position: absolute;
  bottom: 48%;
  right: -2%;
}

@media (max-width: 992px) {
  /* line 1015, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-side {
    bottom: 22%;
    left: 56%;
  }
}

@media (max-width: 600px) {
  /* line 1022, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-side {
    bottom: 30%;
    left: 75%;
  }
}

@media (max-width: 480px) {
  /* line 1029, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-side {
    bottom: 47%;
    left: 75%;
  }
}

@media (max-width: 420px) {
  /* line 1036, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-side {
    bottom: 56%;
    left: 81%;
  }
}

@media (max-width: 320px) {
  /* line 1043, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
  .section-side {
    bottom: 46%;
    left: 78%;
  }
}

/* line 1050, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.section-time2travel__bcg {
  position: relative;
}

/* line 1054, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.section-time2travel__pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

/* line 1062, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.section-time2travel__content {
  display: flex;
  justify-content: center;
}

/* line 1067, C:/Users/jemal/OneDrive/___web/__freeLancer/web/iLera/iLera_web/#source/scss/style.scss */
.section-time2travel__title {
  padding: 120px 0 0 0;
  text-align: center;
  font-size: 86px;
  color: var(--body-color);
}

/*# sourceMappingURL=style.css.map */